body {
    margin: 0;
    color: #111;
    background: #f1f1f1;
  }
  
  a {
    color: #f1f1f1;
    padding: 5px;
  }
  
  audio {
    border: 2px solid crimson;
    border-radius: 100vh;
  }
  
  q {
    font-style: italic;
    border-left: 3px solid #ccc;
    margin-left: 20px;
    padding-left: 15px;
  }
  
  span {
    color: crimson;
    font-weight: bold;
  }
  
  dl {
    background-color: #f9f9f9;
    padding: 10px;
    border-left: 3px solid #ddd;
  }
  
  kbd {
    background-color: #f1f1f1;
    color: #111;
    padding: 2px 4px;
    border: 1px solid #ccc;
    border-radius: 2px;
    font-family: monospace;
  }
  
  details {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
    border: 1px solid black;
  }
  
  header,
  main,
  footer {
    margin-bottom: 10px;
    padding: 10px;
  }
  
  footer {
    margin: 0;
  }
  
  header, footer {
    background: #111;
    color: #f1f1f1;
  }
  
  section {
    padding: 10px;
  }